body{
  background-color: #000;
}

img.dice{
/* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 1s;

/* When the animation is finished, start again */
animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(360deg); }
10% { transform: translate(-1px, -2px) rotate(-360deg); }
20% { transform: translate(-3px, 0px) rotate(360deg); }
30% { transform: translate(3px, 2px) rotate(360deg); }
40% { transform: translate(1px, -1px) rotate(360deg); }
50% { transform: translate(-1px, 2px) rotate(-360deg); }
60% { transform: translate(-3px, 1px) rotate(360deg); }
70% { transform: translate(3px, 1px) rotate(-360deg); }
80% { transform: translate(-1px, -1px) rotate(360deg); }
90% { transform: translate(1px, 2px) rotate(360deg); }
100% { transform: translate(1px, -2px) rotate(-360deg); }
}


h1{
  color:white;
}
.button{
font-size: 20px;
border-radius: 5px;
width:300px;
height:50px;
background-color: black;
color:white;
border-color: #fff;

}
