:root {
  --color-webfatorial-primary: #157bad;
  --color-webfatorial-secondary: #06618c;
  --color-webfatorial-success: #3cc368;
  --color-webfatorial-warning: #f5a600;
  --color-webfatorial-error: #ec5840;
  --color-webfatorial-gray-1: #363636;
  --color-webfatorial-gray-2: #4f4f4f;
  --color-webfatorial-gray-3: #828282;
  --color-webfatorial-gray-4: #bdbdbd;
  --color-webfatorial-gray-5: #e0e0e0;
  --color-webfatorial-white: #fcfcfc;
  --color-gmx-primary: #0454a1;
  --color-gmx-secondary: #3e96d3;
  --color-gmx-tertiary: #161f31;
  --color-gmx-quartenary: #033565;
  --color-facebook: #3b5998;
  --color-twitter: #00aced;
  --color-linkedin: #0077b5;
  --color-youtube: #cd201f;
  --color-instagram: #e4405f;
  --color-github: #333;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

img,
iframe,
object,
embed,
video {
  max-width: 100%;
}

img[width],
iframe[width],
object[width],
embed[width],
video[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height],
iframe[width][height],
object[width][height],
embed[width][height],
video[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  height: auto;
  max-width: none;
  width: 100%;
}

label {
  cursor: pointer;
}

sup,
sub {
  font-size: 50%;
}

ul, li, p, hr {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

:focus:not(:focus-visible) {
  outline: 0;
}

body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1.125rem;
}

#wrapper {
  display: grid;
  grid-template-areas: "header" "container" "footer";
  grid-template-columns: repeat(12, 1fr);
}

#header, #container, #footer, #site-content, #footer-widget, #banner {
  grid-column: span 12;
}

#banner {
  width: 100%;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#sidebar-widget {
  grid-column: span 3;
}

#content {
  grid-column: span 9;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.l-header {
  padding: 0.625rem;
  height: 100%;
}

.l-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-menu .menu ul {
  display: flex;
}

.l-menu .menu ul li {
  padding-inline: 0.9375rem;
}

.l-footer {
  padding: 0.9375rem;
  height: 100%;
}

.l-content {
  padding: 0.625rem;
}

.l-content__home {
  padding: 0.625rem;
}

.l-content__posts {
  padding: 0.625rem;
}

.l-content__posts .post-meta,
.l-content__posts .entry-content {
  padding: 0.625rem;
}

.l-content__single {
  padding: 0.625rem;
}

.l-content__single .featured-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-content__archive {
  padding: 0.625rem;
}

.l-content__404 .entry-title {
  font-size: 5em;
}

.l-sidebar {
  padding: 0.625rem;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links > * {
  margin: 0 2rem;
}

.nav-links .placeholder {
  display: none;
  visibility: hidden;
}

.pagination .next,
.pagination .prev {
  display: block;
}

.pagination .prev {
  margin: 0 auto 0 0;
}

.pagination .next {
  text-align: right;
  margin: 0 0 0 auto;
}

.pagination a {
  text-decoration: none;
}

.pagination a:focus,
.pagination a:hover {
  text-decoration: underline;
}

.pagination .dots {
  transform: translateY(-0.3em);
  color: #6d6d6d;
}

.pagination-single-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-single a:focus .title,
.pagination-single a:hover .title {
  text-decoration: underline;
}

.pagination-single.only-next .pagination-single-inner {
  justify-content: flex-end;
}

.pagination-single .next-post {
  display: flex;
  flex-direction: row-reverse;
}

.pagination-single .next-post .arrow {
  margin-left: 8px;
}
