// ==========================================================================

@charset "UTF-8";

@import "abstract/unit";
@import "abstract/variables";
@import "abstract/breakpoint";
@import "abstract/z-index";



:root {
  @each $name, $color in $webfatorial-colors {
    --color-#{$name}: #{$color};
  }

  @each $name, $color in $gmx-colors {
    --color-#{$name}: #{$color};
  }

  @each $name, $color in $social-media-colors {
    --color-#{$name}: #{$color};
  }
}

// ==========================================================================
// Vendor
// ==========================================================================

@import "vendor/normalize";

// ==========================================================================
// Base
// ==========================================================================

@import "base/elements";
@import "base/generics";
@import "base/a11y";

// ==========================================================================
// Layout
// ==========================================================================

 @import "layout/l-header";
 @import "layout/l-menu";
 @import "layout/l-footer";
 @import "layout/l-content";
 @import "layout/l-sidebar";

// ==========================================================================
// Component
// ==========================================================================

@import "components/c-pagination";

// ==========================================================================
// State
// ==========================================================================

// @import "state/is-";

// ==========================================================================
// Page
// ==========================================================================

// @import "page/";

// ==========================================================================
// Theme
// ==========================================================================

// @import "theme/t-";

// ==========================================================================
// Shame (hacks & dishonorable stuff)
// ==========================================================================
