.cookie-consent{
background-color: #FFFFFF;
position: fixed;
width: 100%;
margin-bottom: -1.0em;
bottom: 0;
opacity: 0.84;


}

.cookie-btn {
 
    position: fixed;
    bottom: 0px;
    right: 50px;
    margin-bottom: -1.0em;

}

.cookie-consent__message{
color: red;
font-weight: bold;
font-size: 16px;
text-transform: uppercase;
font-family:Duplicate Ionic;
margin-bottom: -0.5em;
}

.cookie-consent__message2{
color: #000;
font-size: 14px;
font-family:Duplicate Ionic;  
}

.linkcookie{
color: #000;
font-weight: bold;
font-family:Duplicate Ionic;
}

.cookie-consent__agree{
    background-color:#E30613;
	border-radius:28px;
	border:1px solid #E30613;
	cursor:pointer;
	color:#ffffff;
	font-family:Flama;
    text-transform: uppercase;
	font-size:16px;
	padding:16px 31px;
    margin-bottom: 1.5em;

}

