.l-content {
	padding: rem(10);

	&__home {
		padding: rem(10);
	}
	&__posts {
		padding: rem(10);
		& .post-meta,
		.entry-content {
			padding: rem(10);
		}		
	}
	&__single {
		padding: rem(10);
		.featured-media {
			display: flex;
			align-items: center;
			justify-content: center;
		}		
	}
	&__archive {
		padding: rem(10);
	}
	&__404 {
		.entry-title {
			font-size: 5em;
		}
	}
}
