* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

.bloco{
	position: relative;
	max-width: 1100px;
	margin: 5% auto;	
}
.container {
	padding: 16px;
	background-color: white;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.registerbtn {
	background-color: #04aa6d;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.registerbtn:hover {
	opacity: 1;
}

a {
	color: dodgerblue;
}

.signin {
	background-color: #f1f1f1;
	text-align: center;
}

.players {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.add_field_button {
	display: none;
}
.btn-total {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 30px;	
}
.house {
	margin: 50px 0 0 0;
	font-size: 3.5em;
}
.usuario{
	color:blue;
	font-weight: bold;
}

.slider {
	width: 75%;
	margin: 20px;}

#bet {
	display: flex;
	flex-direction: column;
	align-items: center;	
	text-align: center;
	padding: 30px;
}
.btn {
	margin-top: 10px;
	padding: 8px;
	border-radius: 10px;
	display: flex;
	justify-self: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease;
}
.btn-primary {
	background: #04aa6d;
	box-shadow: inset 0.2rem 0.2rem 1rem var(#fff),
		inset -0.2rem -0.2rem 1rem var(#ccc); 
	color: white;
}
.btn-primary:hover {
	color: white;
}
.btn-primary:active {
	box-shadow: inset 0.2rem 0.2rem 1rem var(--color-primary-dark), inset -0.2rem -0.2rem 1rem var(--color-primary-light);
}

.resultado {
	font-size: 3em;
}
.cash {
	font-size: 1.5em;
}

.avaliable {
	font-size: 3em;
}
